.container {
  padding: 40px;
}

.bullet {
  display: inline-block;
  margin: 0 2px;
  transform: scale(0.8);
}
.title {
  font-size: 14;
}
.pos {
  margin-bottom: 12;
}

.career-header {
  text-align: left;
}

.social-media-icons {
  padding-top: 10px;
}

.ask-for-help-button {
  text-transform: none !important;
}

.career-list { 
  position: relative;
  overflow: auto;
  height: 100%;
}
.career-list-container {
  height: 400px;
  position: relative;
}
.career-list-image-container {

}
.career-list-image {
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-picture {
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
}

.contact-form-container {
  position: absolute;
  background-color: white;
  width: 50%;
  margin-left: 25%;
  margin-top: 13%;
  padding: 20px 0;
  &:focus {
    outline: none !important;
  }
}

.share-insights-button {
  border-radius: 10px !important;
  background-color: black !important;
  color: white !important;
  padding: 11px !important;
}

.card-header {
  text-align: left;
  padding-left: 15px;
  padding-top: 15px;
}
.global-map {
  max-width:100%;
}

.info-card {
  height: 100%
}

.skill-box {
  // background: grey;
  height: 50px;
  padding: 2px;
}

.test-image { 
  max-width: 100%;
  max-height: 100%;
}